* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

/* .wrapper {
    flex: 1;
    display: flex;
    flex-direction: column;
} */

.main-nav {
    background: linear-gradient( rgba(128,128,128,0.5), rgba(128,128,128,0.3), rgba(255,255,255,0.1));
    padding: 1rem;
    position: fixed;
    z-index: 99;
    width: 100%;
}

.nav-item {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    width: 33%;
    text-align: right;
    float: right;
}
.nav-item1 {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    width: 33%;
    text-align: center;
    float: right;
}

.nav-item2 {
    padding: 10px 10px;
    text-decoration: none;
    color: white;
    width: 33%;
    text-align: left;
    float: right;
}

.flex-container {
    display: flex;
    justify-content: space-around;
    padding: 1rem;
    background-color: #f1f1f1;
}
.container {
    position: relative;
    text-align: left;
    color: white;
}

.image-container {
    position: relative;
}

.image-container img {
    width: 100%;
    height: auto;
}

.image-text {
    position: absolute;
    top: 200px;
    left: 200px;
    color: white;
}

.bottom-left,
.text-item {
    padding: 20px 10px;
    border-radius: 10px;
    margin: 5px 0;
    font-size: 50px;
}

.button-item {
    position: absolute;
}

.flex-item {
    flex: 1;
    margin: 0.5rem;
    padding: 1rem;
    background-color: #e0e0e0;
    text-align: center;
}

.button-item button {
    padding: 15px 50px;
    border-radius: 5px;
    color: white;
    background: transparent;
    border: 1px solid white;
}

.other-container {
    padding: 1rem;
}

.models {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 200px;
}

.model-item {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.model-img {
    width: 300px;
    height: 240px;
}

.model-label {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    text-align: left;
    font-size: .75rem;
    font-weight: bold;
    width: 300px;
}

.model {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    left: 15%;
}

.additional-models {
    margin-top: 200px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.additional-model-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
}

.additional-model {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.additional-model-buttons {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
}

.additional-model-buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    border: 1px solid white;
    width: 48%;
    background: transparent;
}

.additional-model-label {
    padding: 5px 10px;
    border-radius: 5px;
    text-align: left;
    font-size: .75rem;
    font-weight: bold;
    width: 100%;
    background: white;
    color: black;
}

.additional-model-img {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.small-text {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: left;
    left: 15%;
}

.text-label {
    color: black;
    font-size: .5rem;
    width: 200px;
}

.footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}
